<nav>
  <h1>Namaste!</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a></h2>
  <div id="bio">
    <p>Linux, Python and Docker lover.
    Besides tech, I love travel, photography and driving long distances.    This is an <em>irregular journal</em> about stuff that interests me.</p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
